@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Manrope', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(27, 28, 26, 0.87);
  background-color: #fbf9f5;
}

html.dark {
  background-color: #1a1a1a;
  color: #f2f0ec;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  width: 100%;
  margin: 0 auto;
}

button {
  border-radius: 100px;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
}
